.video--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  margin: auto;
}

.video-thumbnail {
  max-width: 20rem;
}

.video--title {
  padding: 0.5rem 1rem;
  color: var(--info-dark);
}
.video__card--description {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.video--channel {
  font-weight: bold;
  color: var(--grey-600);
}

.card {
  border: none;
}

.link {
  text-decoration: none;
  position: relative;
}

.btn--cross {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--grey-100);
}

.btn--cross:hover {
  color: var(--error-dark);
}
