.nav {
  padding: 0 1rem;
  background-color: var(--grey-600);
}

.logo {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin: none;
}

.header_nav__link {
  list-style: none;
  padding: 0 0 0 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: 500;
}

.desktop--menu {
  display: flex;
}

@media screen and(max-width:640px) {
  .desktop--menu {
    display: none;
  }
}
