.edit__playlist {
  width: 100%;
  padding: 1rem;
  border: 0;
  font-size: 2rem;
  margin: 1rem 0.3rem;
  color: var(--grey-600);
  font-weight: bold;
}

.playlist_details {
  margin-left: 1rem;
}
.flex__basis-75 {
  flex-basis: 75%;
}
